<!-- Inicio do conteudo do administrativo -->
<div class="wrapper">
    <div class="row">
        <div class="top-list">
            <span class="title-content">Editar Senha</span>
            <div class="top-list-right">
                <a href="/profile" class="btn-primary">Perfil</a>
            </div>
        </div>

        <!-- Imprimir as mensagens que estão na sessão -->
        {{>_msgAdm}}

        <div class="content-adm">
            <!-- Formulário para editar senha do perfil -->
            <form class="form-adm" action="/profile/edit-password" method="post">         

                <div class="row-input">
                    <div class="column">
                        <label class="title-input">Senha:<span class="text-danger">*</span></label>
                        <input type="password" name="password" id="password" class="input-adm" placeholder="Digite a nova senha" value="{{data.password}}">
                    </div>
                </div>

                <p class="text-danger mb-5 fs-4">* Campo Obrigatório</p>

                <input type="submit" class="btn-warning" value="Editar">
            </form>
        </div>
    </div>
</div>
<!-- Fim do conteudo do administrativo -->